body {
  margin: auto;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.container div {
  padding: 1em;
}
video {
  width: 100%;
}

.videoDivElement {
  max-width: 300px;
  margin: 1em;
}
#videoDiv {
  width: 90%;
  margin: auto;
}

h2 {
  font-size: 1rem !important;
}
h3 {
  font-size: 0.75rem !important;
}

video[poster] {
  height: 100%;
  width: 100%;
}

#playerArea {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 500px;

  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

#videoList {
  border: 1px solid black;
  padding-top: 1em;
  padding-left: 1.5em;
  box-sizing: border-box;
}
#list {
  padding: 0;
}

li,
ul {
  list-style: none;
}

li img {
  width: 25px;
  margin-right: 0.5em;
}

#videoPlayer {
  background-color: darkgray;
  box-sizing: border-box;
  margin-right: 1em;
}
