<style>
      table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
      }

      th,
      td {
        border: 1px solid black;
      }

      #contactForm {
        background-color: lightblue;
        padding: 1em;
        box-sizing: border-box;
        width: 17em;
        height: 10em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8.5em;
        margin-top: -5em;
       
      }

      .formGroup {
        margin-bottom: .5em;
      }

      .formGroup label {
        width: 3em;
        display: inline-block;
      }

      .buttons {
        text-align: center;
      }