html {
  background-color: rgb(244, 70, 55);
  background: linear-gradient(
    90deg,
    rgba(244, 70, 55, 1) 0%,
    rgba(232, 123, 5, 1) 13%,
    rgba(226, 245, 39, 1) 32%,
    rgba(126, 245, 39, 1) 44%,
    rgba(39, 223, 245, 1) 67%,
    rgba(152, 95, 243, 1) 88%,
    rgba(243, 95, 242, 1) 105%
  );
}

body {
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.767);
  padding: 2em;
  box-sizing: border-box;
  min-height: 750px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 50px);
}

.grid div {
  border: 1px solid black;
  border-radius: 1em;
}

h1 {
  text-align: center;
}

#buttonDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
  #buttonDiv {
    grid-template-columns: 1fr;
  }
  #resetButton {
    margin-top: 1em;
  }
}

button {
  padding: 0.5em 1em;
  border-radius: 10px;
  width: 200px;
  margin: auto;
}
