
#container{
    display: grid;
    grid-template-columns: 1fr 2fr;

}
#list{
    /* float:left;
    width: 30%;
    margin-left: 2em;
    height: 100%; */
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
    
}

h2{
    color: blue;
}

#details{
    /* width: 60%;
    margin: auto; */
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
}