h1 Hello #{username}!

form(name="add-estimation", method="post")
    div.input
        span.label Name:
        input(type="text", name="username")
    div.actions
        input(type="submit", value="save")